{% extends 'courier/base.html' %}

{% block head %}
<script
    src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAP_API_KEY}}&callback=initMap&libraries=places&v=weekly"
    defer></script>
<script>
    function initMap() {
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 13,
            center: { lat:  0.347596, lng:  32.5825 },
        });

        fetch("{% url 'courier:available_jobs_api'%} ")
            .then(response => response.json())
            .then(json => {
                // Create a new viewpoint bound

                for (let i = 0; i < json.jobs.length; i++) {
                    const job = json.jobs[i];
                    const position = { lat: job.pickup_lat, lng: job.pickup_lng };
                    const marker = new google.maps.Marker({
                        position,
                        map: map,
                    });


                    new google.maps.InfoWindow({
                        content: "<small><b>" + job.name + "</b></small><br/><small>" + job.distance + "Km</small></br>"+ "<small>Price: $" + job.price + "Km</small>"
                    }).open(map, marker);

                    // click event for each job
                    marker.addListener("click", () => {
                        showJobDetails(job);
                    });

                    // Fit these bounds to the maps
                    map.fitBounds(bounds)
                }
            })



            
    }

    
    
</script>

<style>
    .gm-ui-hover-effect {
        display: none !important;
    }

    #map {
        flex: 1;
    }

    small {
        font-size: 12px;
        line-height: 1.2rem;
    }

    .card {
        border: none;
    }

    #job-details {
        display: none;
    }
</style>

{% endblock %}

{% block content %}

<div class="d-flex flex-column h-100" style="padding-bottom: 60px">
    <div id="map"></div>
</div>

{% include 'courier/bottom_tabs.html' %}

{% endblock %}