{% extends 'customer/base.html' %}
{% load bootstrap4 %}

{% block head %}
<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js";
    import { getAuth } from "https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
  
    // Your web app's Firebase configuration
    const firebaseConfig = {
      apiKey: "AIzaSyAd44NtKzs-G_4k5zuxNKw2_laWj8cMv9Y",
      authDomain: "quick-parcel-92a1f.firebaseapp.com",
      projectId: "quick-parcel-92a1f",
      storageBucket: "quick-parcel-92a1f.appspot.com",
      messagingSenderId: "481072622582",
      appId: "1:481072622582:web:8237660a8722fdf79df5d7"
    };
  
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
  </script>

{% endblock %}


{% block main %}
<!--Basic Information-->
<b class="text-secondary">Basic Information</b><br>
<div class="card bg-white mt-2 mb-5">
<div class="card-body">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form user_form %}
        {% bootstrap_form customer_form %}
        <input type="hidden" name="action" value="update_profile">
        <button type="submit" class="btn btn-warning">Save</button>
    </form>
</div>
</div>

<!--Password Reset-->
<b class="text-secondary">Change Password</b><br>
<div class="card bg-white mt-2 mb-5">
<div class="card-body">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form password_form %}
        <input type="hidden" name="action" value="update_password">
        <button type="submit" class="btn btn-warning">Save</button>
    </form>
</div>

</div>

<!-- Phone Number-->
<div class="card bg-white mt-2 mb-5">
    <div class="card-body">

      <div id="get-code" class="input-group mb-3 {% if user.customer.phone_number %} d-none {% endif %}">
        <input type="text" class="form-control" placeholder="+56123456789">
        <div class="input-group-append">
          <button class="btn btn-warning">Send code</button>
        </div>
      </div>

      <div id="verify-code" class="input-group mb-3 d-none">
        <input type="text" class="form-control" placeholder="Verification code">
        <div class="input-group-append">
          {% csrf_token %}
          <button class="btn btn-warning">Send code</button>
        </div>
      </div>

      <div id="change-phone" class="input-group mb-3 {% if not user.customer.phone_number %}d-none{% endif %} ">
        <input type="text" class="form-control" disabled
               value="{{ user.customer.phone_number }}">
        <div class="input-group-append">
          <button class="btn btn-warning">Change</button>
        </div>
      </div>

      <div id="recaptcha-container"></div>

    </div>




{% endblock %}